
.DS_Store
.ipynb_checkpoints/analysis-checkpoint.ipynb
.ipynb_checkpoints/clustering-checkpoint.ipynb
.ipynb_checkpoints/predicting_views-checkpoint.ipynb
.ipynb_checkpoints/predicting_revenue-checkpoint.ipynb
