
.DS_Store
.ipynb_checkpoints/analysis-checkpoint.ipynb
.ipynb_checkpoints/clustering-checkpoint.ipynb
.ipynb_checkpoints/predicting_views-checkpoint.ipynb
.ipynb_checkpoints/predicting_revenue-checkpoint.ipynb
untitled_project/oracle.json
untitled_project/trial_0000/trial.json
untitled_project/trial_0001/trial.json
untitled_project/trial_0002/checkpoint
untitled_project/trial_0002/checkpoint.data-00000-of-00001
untitled_project/trial_0002/checkpoint.index
untitled_project/trial_0002/trial.json
untitled_project/trial_0003/checkpoint
untitled_project/trial_0003/checkpoint.data-00000-of-00001
untitled_project/trial_0003/checkpoint.index
untitled_project/trial_0003/trial.json
untitled_project/trial_0004/checkpoint
untitled_project/trial_0004/checkpoint.data-00000-of-00001
untitled_project/trial_0004/checkpoint.index
untitled_project/trial_0004/trial.json
untitled_project/trial_0005/checkpoint
untitled_project/trial_0005/checkpoint.data-00000-of-00001
untitled_project/trial_0005/checkpoint.index
untitled_project/trial_0005/trial.json
untitled_project/trial_0006/checkpoint
untitled_project/trial_0006/checkpoint.data-00000-of-00001
untitled_project/trial_0006/checkpoint.index
untitled_project/trial_0006/trial.json
untitled_project/trial_0007/checkpoint
untitled_project/trial_0007/checkpoint.data-00000-of-00001
untitled_project/trial_0007/checkpoint.index
untitled_project/trial_0007/trial.json
untitled_project/trial_0008/checkpoint
untitled_project/trial_0008/checkpoint.data-00000-of-00001
untitled_project/trial_0008/checkpoint.index
untitled_project/trial_0008/trial.json
untitled_project/trial_0009/checkpoint
untitled_project/trial_0009/checkpoint.data-00000-of-00001
untitled_project/trial_0009/checkpoint.index
untitled_project/trial_0009/trial.json
untitled_project/trial_0010/checkpoint
untitled_project/trial_0010/checkpoint.data-00000-of-00001
untitled_project/trial_0010/checkpoint.index
untitled_project/trial_0010/trial.json
untitled_project/trial_0011/checkpoint
untitled_project/trial_0011/checkpoint.data-00000-of-00001
untitled_project/trial_0011/checkpoint.index
untitled_project/trial_0011/trial.json
untitled_project/trial_0012/checkpoint
untitled_project/trial_0012/checkpoint.data-00000-of-00001
untitled_project/trial_0012/checkpoint.index
untitled_project/trial_0012/trial.json
untitled_project/trial_0013/checkpoint
untitled_project/trial_0013/checkpoint.data-00000-of-00001
untitled_project/trial_0013/checkpoint.index
untitled_project/trial_0013/trial.json
untitled_project/trial_0014/checkpoint
untitled_project/trial_0014/checkpoint.data-00000-of-00001
untitled_project/trial_0014/checkpoint.index
untitled_project/trial_0014/trial.json
untitled_project/trial_0015/checkpoint
untitled_project/trial_0015/checkpoint.data-00000-of-00001
untitled_project/trial_0015/checkpoint.index
untitled_project/trial_0015/trial.json
untitled_project/trial_0016/checkpoint
untitled_project/trial_0016/checkpoint.data-00000-of-00001
untitled_project/trial_0016/checkpoint.index
untitled_project/trial_0016/trial.json
untitled_project/trial_0017/checkpoint
untitled_project/trial_0017/checkpoint.data-00000-of-00001
untitled_project/trial_0017/checkpoint.index
untitled_project/trial_0017/trial.json
untitled_project/trial_0018/checkpoint
untitled_project/trial_0018/checkpoint.data-00000-of-00001
untitled_project/trial_0018/checkpoint.index
untitled_project/trial_0018/trial.json
untitled_project/trial_0019/checkpoint
untitled_project/trial_0019/checkpoint.data-00000-of-00001
untitled_project/trial_0019/checkpoint.index
untitled_project/trial_0019/trial.json
untitled_project/trial_0020/checkpoint
untitled_project/trial_0020/checkpoint.data-00000-of-00001
untitled_project/trial_0020/checkpoint.index
untitled_project/trial_0020/trial.json
untitled_project/trial_0021/checkpoint
untitled_project/trial_0021/checkpoint.data-00000-of-00001
untitled_project/trial_0021/checkpoint.index
untitled_project/trial_0021/trial.json
untitled_project/trial_0022/checkpoint
untitled_project/trial_0022/checkpoint.data-00000-of-00001
untitled_project/trial_0022/checkpoint.index
untitled_project/trial_0022/trial.json
untitled_project/trial_0023/checkpoint
untitled_project/trial_0023/checkpoint.data-00000-of-00001
untitled_project/trial_0023/checkpoint.index
untitled_project/trial_0023/trial.json
untitled_project/trial_0024/checkpoint
untitled_project/trial_0024/checkpoint.data-00000-of-00001
untitled_project/trial_0024/checkpoint.index
untitled_project/trial_0024/trial.json
untitled_project/trial_0025/checkpoint
untitled_project/trial_0025/checkpoint.data-00000-of-00001
untitled_project/trial_0025/checkpoint.index
untitled_project/trial_0025/trial.json
untitled_project/trial_0026/checkpoint
untitled_project/trial_0026/checkpoint.data-00000-of-00001
untitled_project/trial_0026/checkpoint.index
untitled_project/trial_0026/trial.json
untitled_project/trial_0027/checkpoint
untitled_project/trial_0027/checkpoint.data-00000-of-00001
untitled_project/trial_0027/checkpoint.index
untitled_project/trial_0027/trial.json
untitled_project/trial_0028/checkpoint
untitled_project/trial_0028/checkpoint.data-00000-of-00001
untitled_project/trial_0028/checkpoint.index
untitled_project/trial_0028/trial.json
untitled_project/trial_0029/checkpoint
untitled_project/trial_0029/checkpoint.data-00000-of-00001
untitled_project/trial_0029/checkpoint.index
untitled_project/trial_0029/trial.json
untitled_project/trial_0030/checkpoint
untitled_project/trial_0030/checkpoint.data-00000-of-00001
untitled_project/trial_0030/checkpoint.index
untitled_project/trial_0030/trial.json
untitled_project/trial_0031/checkpoint
untitled_project/trial_0031/checkpoint.data-00000-of-00001
untitled_project/trial_0031/checkpoint.index
untitled_project/trial_0031/trial.json
untitled_project/trial_0032/checkpoint
untitled_project/trial_0032/checkpoint.data-00000-of-00001
untitled_project/trial_0032/checkpoint.index
untitled_project/trial_0032/trial.json
untitled_project/trial_0033/checkpoint
untitled_project/trial_0033/checkpoint.data-00000-of-00001
untitled_project/trial_0033/checkpoint.index
untitled_project/trial_0033/trial.json
untitled_project/trial_0034/checkpoint
untitled_project/trial_0034/checkpoint.data-00000-of-00001
untitled_project/trial_0034/checkpoint.index
untitled_project/trial_0034/trial.json
untitled_project/trial_0035/checkpoint
untitled_project/trial_0035/checkpoint.data-00000-of-00001
untitled_project/trial_0035/checkpoint.index
untitled_project/trial_0035/trial.json
untitled_project/trial_0036/checkpoint
untitled_project/trial_0036/checkpoint.data-00000-of-00001
untitled_project/trial_0036/checkpoint.index
untitled_project/trial_0036/trial.json
untitled_project/trial_0037/checkpoint
untitled_project/trial_0037/checkpoint.data-00000-of-00001
untitled_project/trial_0037/checkpoint.index
untitled_project/trial_0037/trial.json
untitled_project/trial_0038/checkpoint
untitled_project/trial_0038/checkpoint.data-00000-of-00001
untitled_project/trial_0038/checkpoint.index
untitled_project/trial_0038/trial.json
untitled_project/trial_0039/checkpoint
untitled_project/trial_0039/checkpoint.data-00000-of-00001
untitled_project/trial_0039/checkpoint.index
untitled_project/trial_0039/trial.json
untitled_project/trial_0040/checkpoint
untitled_project/trial_0040/checkpoint.data-00000-of-00001
untitled_project/trial_0040/checkpoint.index
untitled_project/trial_0040/trial.json
untitled_project/trial_0041/checkpoint
untitled_project/trial_0041/checkpoint.data-00000-of-00001
untitled_project/trial_0041/checkpoint.index
untitled_project/trial_0041/trial.json
untitled_project/trial_0042/checkpoint
untitled_project/trial_0042/checkpoint.data-00000-of-00001
untitled_project/trial_0042/checkpoint.index
untitled_project/trial_0042/trial.json
untitled_project/trial_0043/checkpoint
untitled_project/trial_0043/checkpoint.data-00000-of-00001
untitled_project/trial_0043/checkpoint.index
untitled_project/trial_0043/trial.json
untitled_project/trial_0044/checkpoint
untitled_project/trial_0044/checkpoint.data-00000-of-00001
untitled_project/trial_0044/checkpoint.index
untitled_project/trial_0044/trial.json
untitled_project/trial_0045/checkpoint
untitled_project/trial_0045/checkpoint.data-00000-of-00001
untitled_project/trial_0045/checkpoint.index
untitled_project/trial_0045/trial.json
untitled_project/trial_0046/checkpoint
untitled_project/trial_0046/checkpoint.data-00000-of-00001
untitled_project/trial_0046/checkpoint.index
untitled_project/trial_0046/trial.json
untitled_project/trial_0047/checkpoint
untitled_project/trial_0047/checkpoint.data-00000-of-00001
untitled_project/trial_0047/checkpoint.index
untitled_project/trial_0047/trial.json
untitled_project/trial_0048/checkpoint
untitled_project/trial_0048/checkpoint.data-00000-of-00001
untitled_project/trial_0048/checkpoint.index
untitled_project/trial_0048/trial.json
untitled_project/trial_0049/checkpoint
untitled_project/trial_0049/checkpoint.data-00000-of-00001
untitled_project/trial_0049/checkpoint.index
untitled_project/trial_0049/trial.json
untitled_project/trial_0050/checkpoint
untitled_project/trial_0050/checkpoint.data-00000-of-00001
untitled_project/trial_0050/checkpoint.index
untitled_project/trial_0050/trial.json
untitled_project/trial_0051/checkpoint
untitled_project/trial_0051/checkpoint.data-00000-of-00001
untitled_project/trial_0051/checkpoint.index
untitled_project/trial_0051/trial.json
untitled_project/trial_0052/checkpoint
untitled_project/trial_0052/checkpoint.data-00000-of-00001
untitled_project/trial_0052/checkpoint.index
untitled_project/trial_0052/trial.json
untitled_project/trial_0053/checkpoint
untitled_project/trial_0053/checkpoint.data-00000-of-00001
untitled_project/trial_0053/checkpoint.index
untitled_project/trial_0053/trial.json
untitled_project/trial_0054/checkpoint
untitled_project/trial_0054/checkpoint.data-00000-of-00001
untitled_project/trial_0054/checkpoint.index
untitled_project/trial_0054/trial.json
untitled_project/trial_0055/checkpoint
untitled_project/trial_0055/checkpoint.data-00000-of-00001
untitled_project/trial_0055/checkpoint.index
untitled_project/trial_0055/trial.json
untitled_project/tuner0.json
